.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
target/
dependency-reduced-pom.xml
node_modules
node
build
build.config.js.sample
cache

src/main/generated
.attach_pid*

.DS_Store
yarn-error.log
